/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */


$primary = #5165FF;
$primary-light = lighten(#5165FF, 25%);
$primary-fade = #f8f8ff;
$secondary = #545454;
$originBlack = #210B2C;
$liked-action = #e0215d;

$accentColor = $primary
$textColor = $originBlack
//$borderColor = #eaecef
$borderColor = $primary-fade
//$codeBgColor = #282c34
$codeBgColor = $originBlack
