# How to verify your profile

## What do we mean by verify?

We have introduced the first a set of self verification tools to KnownOrigin, this allows you to verify your 
social accounts listed on your KO profile.

The first provider to support this is `Twitter`, where you can now verify you own and have access to the defined account.

In the near future we will ask all enabled artists to do this. 
We believe this will increase collector confidence in you as an artist and help increase engagement. 

For collectors, verifying yourself will mean that artists and others know they can trust and follow you on those social accounts, 
in the future we will be enabling more features for accounts which have successfully done this. 

In the future we will be adding richer user profiles and more ways to verify yourself.

## How to verify your social accounts

### Step 1

Login in to KO as normal

<img :src="$withBase('/user-social-verification/login-button.png')">

Edit your profile

<img :src="$withBase('/user-social-verification/edit-profile.png')">

### Step 2

Add the social accounts you want to verify and save

<img :src="$withBase('/user-social-verification/social-fields.png')">

### Step 3

Once you have saved you profile, you will see some new "Verify" buttons next to the social handles.

<img :src="$withBase('/user-social-verification/verify-buttons.png')">

Click "Verify Twitter" to start the process. These are only visible to you and is only visible until you verify yourself.

### Step 4

Once you start the verification process, you will be prompted to sign in. 

**You MUST sign in with the same account you have specified, if this does not happen, you will not complete the verification process.**

**If you have multiple accounts logged into twitter, make sure the account currently using also matches, this is a common reason for verification not working.**

<img :src="$withBase('/user-social-verification/twitter-tool-auth.png')">

### Step 5

Once completed, you will be redirected back to your KO profile and if all has worked you will receive a blue badge on your profile

<img :src="$withBase('/user-social-verification/verified-account.png')">

## It didn't work, help me!

Some things to check if the verification process was not successful.

* Make sure the Twitter account you have registered **exactly** matches the Twitter account you are trying to log in with, if not it will fail.

* Make sure if you have **multiple Twitter profiles**, the one you log in as **matches** the one on your profile. 
  One option is to log out of all of them, then when performing the verification process, you can correctly log in to the right account.

* If you have linked your account and then you **change your handle** on Twitter/Instagram -
  verification can/will fail. If so then remove the linked tool in your settings on Twitter/Instagram account, log in out of KO and try again.

* If you once got verified and then changed your social accounts, you will need to re-verify them to get the blue badge back.

* When trying to verify if you DO NOT see a popup, try to disable popup blockers or other browser plugins which may stop the process.

* It's best to do this process NOT on your phone, try a desktop or tablet, it works best on these.
